* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #d1c954, #6432da);
}

nav {
    width: 100%;
    height: 70px;
    background-color: #5E169F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    padding: 0 20px;
    color: rgb(255, 255, 245);
    font-size: 20px;
}

nav a:hover {
    color: white;
}

.info {
    padding: 0 75px 25px 75px;
    text-align: center;
    font-family: 'Bitter', serif;
    letter-spacing: 1px;
    text-align: justify;
    color: rgb(248, 237, 237);
    justify-content: center;
    font-size: 1.7rem;
    background-image: url(https://img.freepik.com/foto-gratis/telon-fondo-textura-muro-hormigon-solido_53876-129493.jpg?w=1380&t=st=1684981334~exp=1684981934~hmac=97b3388361267a3af8df2a7a539cd6927893372f62673d9abfe328c3eaa38703);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0 100% 0, 100% 80%, 0% 100%);
}

@media screen and (max-width: 768px) {
    .info {
        padding: 0 20px 15px 20px;
        text-align: center;
        font-size: 1.5rem;
    }
}


.header-team {
    text-align: center;
    font-family: 'Bitter', serif;
    color: white;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    font-family: 'Bitter', serif;
    font-size: 30px;
    caption-side: bottom;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    th, td {
        display: block;
        padding: 5px;
    }

    th {
        display: none;
      }
}

td {

    padding: 20px;
    font-family: 'Bitter', serif;
    font-size: 30px;
    caption-side: bottom;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}

.avatar {
    width: 70px;
    height: 70px;
}

.avatar {
    object-fit: cover;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.avatar:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .avatar:hover {
      transform: scale(1.1);
    }
  }

.biografia {
    color: #d1c954;
}

.text-parrafo {
    line-height: 40px;
    color: black;
    font-family: 'Bitter', serif;
    font-size: 25px;
    text-align: left;
    margin: 0 75px 25px 75px;

}

.text-bio {
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Bitter', serif;
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

@media  (max-width: 768px) {
    .text-parrafo {
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        margin: 0 20px 15px 20px;
    }

    .text-bio {
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        margin: 0 10px 10px 10px;
    }
}


.title {
    text-align: center;
}

.bio-ti {
    line-height: 40px;
    color: black;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 20px;
}

.about-container {
    text-align: center;
}

.about-container .content {
    flex: 0 0 50%;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.logo {
    object-fit: cover;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.logo:hover {
    transform: scale(1.1);
}

iframe {
    width: 200px;
    height: 200px;
}

.foto {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #5E169F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 160px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.fa-brands {
    margin: 5px 5px 5px 5px;
    color: #ffffff; 
  }